body {
  background-color: coral;
}

/* #question {
  display: flex;
  flex-direction: column;
  
} */

#settings {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  gap: 10px;
  margin: 0 auto;
}